body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}

header{
    background-color: #474747;
    color: white;
    padding: 20px;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 20px;

}

.content{
    background-color: rgb(199, 199, 199);
    padding: 20px;
    border-radius: 10px;
}

footer{
    background-color: black;
    color: wheat;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}