*{
   font-family: Arial, Helvetica, sans-serif;
}

p {
     color: blue;
     /* background-color: red; */
     padding: 10px;
     margin: 5px;
     border: 1px black solid;
 }

div{
    height: 200px;
    color: #000;
}

div+p{
    color: yellow;
    background-color: gray;
}

div>p{
    color: blueviolet;
}

#par{
    background-color: aqua;
}
.paragr{
    color: chartreuse;
}