body{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.img_float{
    float: right;
    margin: 0 15px 15px 0;
}

.subtitulo{
    clear: both;
}

.header{
    background-color: yellow ;
    /* deixa o elemento parado  */
    position: sticky; 
    position: -webkit-sticky;
    top: 0;
    border: solid 1px black;
    padding: 10px;
    font-size: 20px;
}
.relativo{
    position: relative;
    height: 100px;
    background-color: aqua;
    border: 1px solid red;
}

.absoluto{
    position: absolute;
    height: 50px;
    background-color: red;
    border: 1px solid blue;
    bottom: 0px;
    right: 10px;
    width: 20px;
}

.fixo{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: yellow;
}