@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(85, 85, 247);
    min-width: 100vh;
    
}

header{
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;

}

header > h1{
    padding: 50px;
    
}
header > p{
    padding: 50px;
}

nav{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 20px;

}
a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    background-color: blanchedalmond;
}

a:hover{
    color: gray;

}
section, div{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    
}


div{
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.paralax, div.paralax{
    background-color: grey;
}
.paralax > p{
    width: 400px;
    background-color: black;
}


footer{
    background-color: black;
    color: wheat;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content{
    background-color: rgb(199, 199, 199);
    padding: 20px;
    border-radius: 10px;
}