@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(85, 85, 247);
    min-width: 100vh;
    
}

header{
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;

}

header > h1{
    padding: 50px;
    
}
header > p{
    padding: 50px;
}

nav{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 20px;

}
a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    
    
}

a:hover{
    color: gray;

}
section, div{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    
}
 div > p{
    padding: 30px;
    max-height: 300px;
    margin: 50px;
}


div{
    padding-left: 30px;
    height: 600px;
}

section.normal{
    background-color: white;
    color: black;
}

section.paralax, div.paralax{
    background-color: grey;
    box-shadow:  inset 6px 6px 13px 0px rgba(0, 0, 0, 0.349);
    background-attachment: fixed;
    padding: 30px;
}
.paralax > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    margin: 5px;
    height: 600px; 

}


button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 150px;
}


footer{
    background-color: black;
    color: wheat;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}

.content{
    background-color: rgb(199, 199, 199);
    padding: 20px;
    border-radius: 10px;
}
section#pessoal{
    background-image: url("../imagens/eu.jpg") 
}

#proj_01{
    background-image: url("../imagens/1-obmep_1.PNG");
    background-position: right center;
    
}

#proj_02{
    background-image: url("../imagens/2-herobot_1.PNG");
    background-repeat: no-repeat;
    background-position: 100%;   
    
}
#proj_03{
    background-image: url("/imagens/4-calculadora_1.PNG");
    background-position: right center;
}
#proj_04{
    background-image: url("/imagens/6-noticia_cidade_1.PNG");
    background-position: right center;
    
}
#proj_05{
    background-image: url("/imagens/7-techblog_2.PNG");
    background-position: right center;
}

#proj_06{
    background-image: url("/imagens/8-crazygame_1.PNG");
}