.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
}

.header{
    background-color: blue;
    padding: 20px;
    grid-column: 1/-1;
}

.sidebar{
    background-color: yellow;
    padding: 20px;
}

.content{
 background-color: green;
 padding: 20px;
}

.container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

p{
    background-color: gray;
    border:1px solid black;
}