.container{
    background-color: rgb(187, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    /* height: 500px; */
    /* width: 100px; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    /* align-items:center;
    justify-content: center; */
    flex-wrap: wrap;
    gap: 10px;

}

.box{
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 3px;
    margin: 2px;
}

#box1{
    background-color: aqua;
    flex-grow: 1;

}

#box2{
    background-color: blueviolet;
    flex-grow: 2;
}

#box3{
    background-color: tomato;
    flex-grow: 3;
}