body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.tabuleiro{
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 10px;

}
.celula{
    display: flex;
    background-color: grey;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
}
#reinicia{
    padding: 15px;
    margin: 10px;
}